/* body {
    position: relative;
  } */


img {
  width: 400px;
  margin: 0 auto;
}

.nav-link{
  color:grey;
}

a{
  margin:2% 2%;
}

.container-fluid{
  padding:3% 35%;
  /* 让页面居中 */
}

.bg-navbar {
  background: #ffffff8a;
}

.intro{
  padding:130px 0;
  text-align: center;
}

.image{
  text-align: center;
}

#slash{
  padding:0 auto 0 auto;
  margin:0 auto 0 auto;
}
 #intro,#projects, #articles, #design, #videos, #contacts{
  padding:5% auto 0 auto;
  text-align: center;
  border:none;
}

.slash-card-head{
  text-align: center;
  margin:5% -2%;
  color:#0E38B1;
}
.card.slash-card{
  height:280px;
  border:0px;
}
.card{
  text-align: center;
  padding:10px auto 0 auto;
  margin:10px auto 0 auto;
  border:none;
  background-color: white;
}
.col-sm-2,.col-sm-3{
  margin:0 0 0 0;
  padding:5px 0 auto 0;
  border:none;
}
.col-sm-6,{
  text-align: center;
  padding:5px;
}

video{
  width:100%;
}

.project-img{
  width:100%;
  text-align: center;
  /* position:relative;
  z-index: 0; */
}

.carousel-indicators{
  margin:13% 0 0 0;
}
@media screen and (max-width: 800px) {
  .slash-card{
    height:350px;
  }
}
@media screen and (max-width: 600px) {
  .slash-card{
    height:400px;
  }
}
@media screen and (max-width: 597px) {
  .slash-card{
    height:480px;
  }
}
@media screen and (max-width: 575px) {
  .slash-card{
    height:auto;
  }
}
