
img {
  width: 400px;
  margin: 0 auto;
}

a{
  margin:2% 2%;
}

.container-fluid{
  padding:3% 35%;
  /* 让页面居中 */
}

.bg-navbar {
  background: #ffffff8a;
}

.intro{
  padding:130px 0;
  text-align: center;
}

.image{
  text-align: center;
}

#slash, #videos{
  text-align: center;
}

#slash-row1{
  text-align: center;
  margin:5% -2%;
  color:#0E38B1;
}

#slash-row2{
  text-align: left;
}

.card{
  text-align: center;
}

.col-sm-6,.col{
  text-align: center;
  padding:10px;
}

video{
  width:100%;
}

#contacts{
  padding:20px;
  text-align: center;
}
